$CONFIG_RESET_AUTO: true;
@import "themes/rustic";

$main-logo: 'logos/logo.png';
$main-logo-height: image-height($main-logo);
$main-header-height: $main-logo-height + 6px;

body {
  @include font-family(sans-serif);
  @include styleguide(canvas, copy);
}

a {
  @include styleguide(link);
}

hr {
  @include styleguide(horizontal-rule);
}

#main,
.row {
  @include grid-row();
}

#global-header,
#global-footer {
  & > div {
    @include grid-canvas();
  }
}

#global-header {
  @include vertical-spacing($top: 1);
  @include styleguide(navigation);
  height: $main-header-height;
  & > div {
    position: relative;
    height: $main-header-height;
  }
  .brand {
    @include inline-block();
    @include hide-text();
    background: image-url($main-logo) no-repeat;
    width: image-width($main-logo);
    height: $main-logo-height;
  }
  nav {
    ul {
      position: absolute;
      bottom: 0;
      @include right(0);
      @include inline-block();
    }
    li {
      @include inline-block();
      @include uppercase();
      @include horizontal-spacing(0.5, $abuse: true);
      height: vertical-spacing(2);
      border-#{rtl(right)}: 1px solid nth-cyclic($CONFIG_COLOR_BRAND_NAV, 2);
      &:last-child {
        padding-#{rtl(right)}: 0;
        border: 0;
      }
      a {
        @include styleguide(link without an underline in navigation);
      }
    }
  }
}

#main {
  @include grid-canvas();
  padding-top: $main-header-height + vertical-spacing(1) + 5px;
  & > article {
    @include grid($center: true, $indent: grid-indent(1));
  }
  // side-by-side layout
  .layout-post & {
    & > article {
      @include grid(17, $first: true, $indent: grid-indent(1));
    }
    & > aside {
      @include grid(7, $indent: grid-indent(1));
    }
  }
  & > article,
  & > aside {
    @include vertical-spacing(2);
    @include vertical-spacing(1, $method: margin);
    @include styleguide(container);
  }
  h1 {
    @include styleguide(xxlarge headline);
  }
  h2 {
    @include styleguide(xlarge headline);
  }
  h3 {
    @include styleguide(large headline);
  }
  h4 {
    @include styleguide(medium muted headline);
  }
  p {
    @include vertical-spacing(1, $method: margin);
  }
  // article lists
  .articles-list {
    a {
      display: block;
      @include horizontal-spacing(1);
      @include vertical-spacing(1);
      @include styleguide(muted link without an underline);
      &:hover {
        @include styleguide(module);
      }
      h3 {
        @include styleguide(large headline, link without an underline);
      }
      small {
        @include styleguide(large muted copy);
        font-weight: normal;
      }
      .summary {
        @include styleguide(muted copy);
        margin-bottom: 0;
      }
    }
  }
}

// some simple pagination
.pagination {
  ul {
    @include clearfix();
  }
  li {
    @include inline-block();
    @include float(left);
    width: 33.33%;
    @include text-align(center);
    &.prev,
    &.next {
      &.disabled {
        visibility: hidden;
      }
    }
    &.prev {
      @include text-align(left);
    }
    &.next {
      @include float(right);
      @include text-align(right);
    }
  }
}

#global-footer {
  @include vertical-spacing(1, $method: margin);
  ul {
    display: inline;
    @include float(right);
  }
  .copyright,
  li {
    display: inline;
  }
  li {
    @include horizontal-spacing(0.5, $abuse: true);
    border-#{rtl(right)}: 1px solid nth($CONFIG_COLOR_BRAND, 1);
    &:last-child {
      padding-#{rtl(right)}: 0;
      border: 0;
    }
  }
}

@import "pygment";
