$CONFIG_RESET_AUTO: true;
@import "themes/delta";

$main-logo: 'logos/logo.png';
$main-logo-height: image-height($main-logo);
$main-header-height: $main-logo-height;

@mixin responsive($reset: false) {
  @media only screen and (max-width : 480px) {
    @if $reset {
      width: auto;
      float: none;
      margin-left: 0;
      margin-right: 0;
    }
    @content;
  }
}

// GENERAL BODY SETUP
body, button, input, textarea {
  // make sure everyone is using the sans-serif stack by default
  @include font-family(sans-serif);
}

body {
  @include styleguide(canvas, copy);
}

a {
  @include styleguide(link);
}

hr {
  @include styleguide(horizontal-rule);
}

#main,
.row {
  @include grid-row();
}

#global-header,
#global-footer {
  div {
    @include grid-canvas();
    @include responsive(true);
  }
}

// HEADER
#global-header {
  @include vertical-spacing($top: 2);
  @include styleguide(navigation);
  height: $main-header-height;
  @include responsive() {
    position: static;
    height: auto;
  }
  div {
    position: relative;
    height: $main-header-height;
    @include responsive() {
      position: static;
      height: auto;
    }
  }
  .brand {
    display: block;
    @include hide-text();
    background: image-url($main-logo) no-repeat;
    width: image-width($main-logo);
    height: $main-logo-height;
    @include responsive() {
      position: static;
      max-width: 100%;
      background-size: 100% auto;
    }
  }
  nav {
    ul {
      position: absolute;
      bottom: 0;
      @include right(0);
      @include inline-block();
      @include responsive() {
        position: static;
        background-color: nth($CONFIG_TEXTURE_NAV, 1);
        width: 100%;
      }
    }
    li {
      @include inline-block();
      @include uppercase();
      @include horizontal-spacing(2);
      height: vertical-spacing(4);
      border-#{rtl(right)}: 1px solid nth-cyclic($CONFIG_COLOR_BRAND_NAV, 2);
      &:last-child {
        padding-#{rtl(right)}: 0;
        border: 0;
      }
      a {
        @include styleguide(link without an underline in navigation);
      }
    }
  }
}

// MAIN BODY
#main {
  @include grid-canvas();
  padding-top: $main-header-height + vertical-spacing(2) + 5px;
  @include responsive(true) {
    padding-top: 0;
  }
  // IE6 treats position:fixed differently, so we need to NOT offset the main content
  @include target-browser(ie 6, padding-top, vertical-spacing(2));
  article {
    @include grid($center: true, $indent: grid-indent(1));
    @include responsive(true);
    .note {
      @include styleguide(small muted copy);
    }
    @include responsive() {
      img {
        max-width: 100%;
      }
    }
  }
  // side-by-side layout
  .has-aside & {
    article {
      @include grid(17, $first: true, $indent: grid-indent(1));
      @include responsive(true);
    }
    aside {
      @include grid(7, $indent: grid-indent(1));
      @include responsive(true);
    }
  }
  article,
  aside {
    @include vertical-spacing(4);
    @include vertical-spacing(2, $method: margin);
    @include styleguide(container);
  }
  h1 {
    @include styleguide(xxlarge headline);
  }
  h2 {
    @include styleguide(xlarge headline);
  }
  h3 {
    @include styleguide(large headline);
  }
  h4 {
    @include styleguide(medium muted headline);
  }
  p {
    @include vertical-spacing(2, $method: margin);
    code {
      border: 1px solid #DDDDDD; // TODO styleguide
      border-radius: 2px;
    }
    .note {
      code {
        border: none;
      }
    }
  }

  // article list
  .articles-list {
    a {
      @include styleguide(article-list);
    }
  }

  // gallery list
  .gallery-list {
    @include styleguide(gallery-list);
  }
  aside {
    .articles-list a.page-current {
      font-weight: bold;
      @include styleguide(module);
    }
  }
  em {
    @include font-style(italic);
  }
  strong {
    font-weight: bold;
  }
  blockquote {
    @include styleguide(pullquote);
  }
}

// post details
.post-details {
  @include styleguide(small muted copy);
  .author {
    @include styleguide(identity);
  }
}

// components
.semantics-notice {
  @include styleguide(notice alert);
  @include vertical-spacing($top: 2, $method: margin);
  a {
    @include styleguide(link in a notice alert);
  }
  .dismiss {
    @include styleguide(close in a notice alert);
    .no-js & {
      display: none;
    }
  }
}


// FOOTER
#global-footer {
  @include styleguide(copy in a punchcut, punchcut);
  @include vertical-spacing($top: 2, $method: margin);
  @include vertical-spacing(4);
  a {
    @include styleguide(link in a punchcut);
  }
  ul {
    display: inline;
    @include float(right);
  }
  .copyright,
  li {
    display: inline;
    @include responsive() {
      @include horizontal-spacing(2);
    }
  }
  li {
    @include horizontal-spacing(2);
    border-#{rtl(right)}: 1px solid nth-cyclic($CONFIG_COLOR_BRAND, 2);
    &:last-child {
      padding-#{rtl(right)}: 0;
      border: 0;
    }
  }
  .notice {
    @include styleguide(small muted copy in a punchcut);
    float: right;
    @include vertical-spacing($top: -4, $method: margin);
    a {
      @include styleguide(small muted copy in a punchcut, muted link in a punchcut);
    }
  }
  .social-actions {
    @include responsive() {
      @include horizontal-spacing(2);
    }
  }
}

// SEARCH
#search {
  // GOOGLE
  .gsc-resultsHeader {
    display: none;
  }
  .gsc-control {
    width: 100%;
  }
  .gs-result .gs-title,
  .gs-result .gs-title * {
    @include styleguide(link);
  }
  .gs-result a.gs-visibleUrl,
  .gs-result .gs-visibleUrl {
    @include styleguide(annotation);
  }
}


// customizations
@import "pygment";
@import "livefyre";
