@import "archetype";

$test: (
  (one, (
    '1',
    '2',
    '3'
  )),
  (two, (
    '4',
    '5',
    '6'
  ))
);

.test {
  a: nth(associative($test, one), 1);     // 1
  b: nth(associative($test, one), 2);     // 2
  c: nth(associative($test, two), 2);     // 5
  d: nth(associative($test, two), 3);     // 6
  e: nth(associative($test, 'two'), 2);   // 5
  f: nth(associative($test, 'two'), 3);   // 6
  g: nth(associative($test, three), 1);   // 1
}
