a {
  padding-left: 20px;
  padding-right: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

b {
  padding-right: 20px;
  margin-right: 20px;
}

c {
  padding-left: 20px;
  margin-left: 20px;
}

d {
  padding-right: 10px;
  margin-right: 10px;
}

e {
  padding-left: 0px;
  padding-right: 0px;
  margin-left: 0px;
  margin-right: 0px;
}
