a {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

b {
  padding-bottom: 10px;
  margin-bottom: 10px;
}

c {
  padding-top: 10px;
  margin-top: 10px;
}

d {
  padding-bottom: 15px;
  padding-bottom: 13px;
  margin-bottom: 13px;
}

e {
  padding-top: 0px;
  padding-bottom: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}
