archetype-*.gem
/dist/*
/demo/*
/themes/*
doc/*
docs/*
tmp/
Gemfile.lock
.sass-cache
*.DS_Store
*.lock
Icon
._*
.sass-cache
.rbx
/test/fixtures/stylesheets/*/saved
/test/fixtures/stylesheets/*/assets
/test/fixtures/stylesheets/*/sass/.sass-cache
/test/fixtures/stylesheets/empty
/.bundle/*