archetype-*.gem
demo/*
doc/*
docs/*
Gemfile.lock
.sass-cache
*.DS_Store
*.lock
Icon
._*
tmp/*
.sass-cache
test/tmp
test/fixtures/stylesheets/*/tmp
test/fixtures/stylesheets/*/saved
test/fixtures/stylesheets/empty
test/fixtures/stylesheets/*/sass/.sass-cache
test/fixtures/stylesheets/archetype/images/lib/archetype/**/*-*.png
