// ==========
// SPRITE MAPS
// ==========

// LOADERS
$CONFIG_SPRITE_LOADERS:          false !default;
@if _shouldSetSprite($CONFIG_SPRITE_LOADERS) {
  $CONFIG_SPRITE_LOADERS:        sprite-map("vendor/archetype/animations/loaders/**/*.png");
}
$CONFIG_IMG_LOADERS_SMALL:         (small small_dark) !default;
$CONFIG_IMG_LOADERS_SMALL_STATIC:  (small_static small_dark_static) !default;
$CONFIG_IMG_LOADERS_MEDIUM:        (medium medium_dark) !default;
$CONFIG_IMG_LOADERS_MEDIUM_STATIC: (medium_static medium_dark_static) !default;
$CONFIG_IMG_LOADERS_LARGE:         (large large_dark) !default;
$CONFIG_IMG_LOADERS_LARGE_STATIC:  (large_static large_dark_static) !default;
$CONFIG_LOADERS: (
  medium: (
    default:        $CONFIG_IMG_LOADERS_MEDIUM,
    static:         $CONFIG_IMG_LOADERS_MEDIUM_STATIC,
    steps:          $CONFIG_ANIM_LOADERS_MEDIUM_STEP,
    delay:          $CONFIG_ANIM_LOADERS_MEDIUM_DELAY,
    iterations:     $CONFIG_ANIM_LOADERS_MEDIUM_ITERATIONS,
    duration:       $CONFIG_ANIM_LOADERS_MEDIUM_DURATION
  ),
  small: (
    default:        $CONFIG_IMG_LOADERS_SMALL,
    static:         $CONFIG_IMG_LOADERS_SMALL_STATIC,
    steps:          $CONFIG_ANIM_LOADERS_SMALL_STEP,
    delay:          $CONFIG_ANIM_LOADERS_SMALL_DELAY,
    iterations:     $CONFIG_ANIM_LOADERS_SMALL_ITERATIONS,
    duration:       $CONFIG_ANIM_LOADERS_SMALL_DURATION
  ),
  large: (
    default:        $CONFIG_IMG_LOADERS_LARGE,
    static:         $CONFIG_IMG_LOADERS_LARGE_STATIC,
    steps:          $CONFIG_ANIM_LOADERS_LARGE_STEP,
    delay:          $CONFIG_ANIM_LOADERS_LARGE_DELAY,
    iterations:     $CONFIG_ANIM_LOADERS_LARGE_ITERATIONS,
    duration:       $CONFIG_ANIM_LOADERS_LARGE_DURATION
  )
) !default;
@if $CONFIG_KEYFRAMES_AUTO {
  @include generate-loader-keyframes();
}
