.content {
  /* [archetype:styleguide:begin] --- `one content-styleguide-test-back-compat` --- */
  content: "\2193";
  /* [archetype:styleguide:end] --- `one content-styleguide-test-back-compat` --- */
  /* [archetype:styleguide:begin] --- `two content-styleguide-test-back-compat` --- */
  content: test;
  /* [archetype:styleguide:end] --- `two content-styleguide-test-back-compat` --- */
  /* [archetype:styleguide:begin] --- `three content-styleguide-test-back-compat` --- */
  content: " (" attr(href) ")";
  /* [archetype:styleguide:end] --- `three content-styleguide-test-back-compat` --- */
  /* [archetype:styleguide:begin] --- `four content-styleguide-test-back-compat` --- */
  content: attr(data-icon);
  /* [archetype:styleguide:end] --- `four content-styleguide-test-back-compat` --- */
}
