// ==========
// TEXTURES
// ==========

$CONFIG_TEXTURE_CONTAINER:        ('#fff; background: rgba(255, 255, 255, 0.8)' #000000) !default;
$CONFIG_TEXTURE_CANVAS:           ("#eeeae1 #{image-url('textures/parchment.jpg')} fixed") !default;
$CONFIG_TEXTURE_NAV:              ("#eadfbe; background: rgba(229, 206, 138, 0.4)");
