@import "test_harness";

.null_test {
  @include breakpoint(not-set) {
    /* you should NOT see this comment */
  }
}

$trash: register-breakpoint(smartphone, 'only screen and (min-device-width : 320px) and (max-device-width : 480px)');
$trash: register-breakpoint(smartphone, 'only screen and (min-device-width : 320px) and (max-device-width : 480px)'); // should be ignored since it's identical
$trash: register-breakpoint(smartphone-landscape, 'only screen and (min-width : 321px)');
$trash: register-breakpoint(smartphone-landscape, 'only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : landscape)'); // should throw a warning since it's different

.test {
  @include breakpoint(smartphone) {
    /* you should see this comment */
  }
}

// disable the smartphone breakpoint
$trash: disable-breakpoint(smartphone);
.test-1 {
  @include breakpoint(smartphone) {
    /* you should NOT see this comment after being disabled */
  }
}

$trash: enable-breakpoint(smartphone);
.test-2{
  @include breakpoint(smartphone) {
    /* you should see this comment after being enabled */
  }
}

// Should output a warning, since breakpoint is not registered.
$trash: enable-breakpoint(not-set);

$trash: register-breakpoint(tablet, '(max-width: 974px) and (min-width: 769px)');
$trash: register-breakpoint(desktop, '(min-width: 974px)');

.test-3{
  @include breakpoint((tablet, desktop)) {
    /* you should see this comment, and there should be one media query with two conditions */
  }

  @include breakpoint((smartphone, tablet, desktop)){
    /* you should see this comment, and there should be one media query with three conditions */
  }

  @include breakpoint((tablet, not-set)){
    /* you should see this comment, and there should be one media query with one condition, and should output a warning */
  }
}