// environment
$CONFIG_DEBUG_ENVS:               (dev development);                                                // environments to allow debug in
$CONFIG_DEBUG:                    (index($CONFIG_DEBUG_ENVS, archetype-env()) != false) !default;   // global debugging mode (enabled by default in $CONFIG_DEBUG_ENVS)

// theme
$CONFIG_THEME:                    archetype !default;                                               // the theme name

// units
$CONFIG_UNIT_FORCE_INT:           true !default;                                                    // force units to be whole integers. if set to strict, $abuse flags won't work [false|true|strict]

// spacing
$CONFIG_SPACING:                  5px !default;                                                     // spacing factor
$CONFIG_HORIZONTAL_SPACING:       $CONFIG_SPACING !default;                                         // horizontal spacing
$CONFIG_VERTICAL_SPACING:         $CONFIG_SPACING !default;                                         // veritcal spacing
$CONFIG_SPACING_METHOD:           padding !default;                                                 // method for providing spacing [padding|margin]

// resets
$CONFIG_RESET_METHOD:             hybrid !default;                                                  // reset method [reset|normalize|hybrid]
$CONFIG_RESET_AUTO:               false !default;                                                   // if true, importing `archetype` will invoke the reset
$CONFIG_RESET_EXCLUDES:           () !default;                                                      // list of things to exclude from the reset

// states used when printing out styles
$CONFIG_STATE_PREFIX:             '' !default;                                                      // prefix state classnames @see to-style()
$CONFIG_STATE_NO_PREFIX:          () !default;                                                      // states to never apply prefix to
$CONFIG_STATE_BEM:                false !default;                                                   // use the BEM syntax for printing states [true|false|only]
$CONFIG_STATE_BEM_SEPARATOR:      '--' !default;                                                    // the separator to denote the BEM state (e.g. .my-element--hover)
// a mapping for state names to selectors
$CORE_STATE_MAPPINGS: (
  'hover' : (
    selector  : '&.#{$CONFIG_STATE_PREFIX}hover, &:hover, &.#{$CONFIG_STATE_PREFIX}focus, &:focus',
    states    : hover focus
  ),
  'hover-only' : (
    selector  : '&.#{$CONFIG_STATE_PREFIX}hover, &:hover',
    states    : hover
  ),
  'focus' : (
    selector  : '&.#{$CONFIG_STATE_PREFIX}focus, &:focus',
    states    : focus
  ),
  'active' : (
    selector  : '&.#{$CONFIG_STATE_PREFIX}active, &:active',
    states    : active
  ),
  'visited' : (
    selector  : '&.#{$CONFIG_STATE_PREFIX}visited, &:visited',
    states    : visited
  ),
  'disabled' : (
    selector  : '&.#{$CONFIG_STATE_PREFIX}disabled, &[disabled]',
    states    : disabled
  ),
  'focus-inner' : (
    selector  : '&::-moz-focus-inner',
    states    : null
  )
);
$CONFIG_STATE_MAPPINGS: () !default;
$CONFIG_STATE_MAPPINGS: map-merge($CORE_STATE_MAPPINGS, $CONFIG_STATE_MAPPINGS);

// misc
$CONTENT_PLACEHOLDER:             '\0020' !default;                                                 // content placeholder (ensures block elements display correctly even if they're empty)
$CONFIG_DISABLED_CSS:             () !default;                                                      // a list of CSS3 features to always disable when using output-style()
$CONFIG_GENERATED_TAG_PREFIX:     x-archetype !default;                                             // the prefix for the tag name to create when using ie-pseudo method
$CONFIG_GENERATED_TAG_CSS:        false !default;                                                   // styles to apply to the generated tag when using ie-pseudo method (use this as a way to reset styles on these tags)
$CONFIG_GENERATED_TAG_INLINE:     true !default;                                                    // if `true` insert the styles inline on the generated tag, otherwise insert the styles in a unique css rule

// z-layers
$CONFIG_Z_INDEX_BASE:             0 !default;                                                       // the default starting layer for z-index calculations
$CONFIG_Z_LAYERS_OFFSET:          100 !default;                                                     // the offset between z-layers
$CONFIG_Z_LAYERS:                 (default dialog navigation) !default;                             // the orders for the z-layers

// compass
$COMPASS_RTL_SUPPORT:             false !default;                                                   // does your Compass version support RTL? set to true if Compass mixins support RTL

// sprites
$CONFIG_DISABLE_STYLEGUIDE_SPRITES: false !default;                                                 // disable all sprite generation in styleguide

// smart content
$CONFIG_USE_SMART_CONTENT:        false !default;                                                   // use @extend when possible to smartly output content

// keyframe animations
$CONFIG_KEYFRAMES_AUTO:           $CONFIG_RESET_AUTO !default;                                      // whether or not to auto generate the keyframe animations
$CONFIG_KEYFRAME_LOADERS:         archetype-loader !default;                                        // loading spinner keyframe name

// glyphs
$CONFIG_GLYPHS_NAME:              FontAwesome !default;                                             // name for the font-face
$CONFIG_GLYPHS_VERSION:           '0.0.1' !default;                                                 // the glyph library version number
$CONFIG_GLYPHS_SVG_ID:            $CONFIG_GLYPHS_NAME !default;
$CONFIG_GLYPHS_BASE_PATH:         'vendor/archetype/fontawesome-webfont' !default;                  // generic path to all glyph fonts (sans extensions)
$CONFIG_GLYPHS_EOT:               '#{$CONFIG_GLYPHS_BASE_PATH}.eot' !default;
$CONFIG_GLYPHS_FILES:             font-files('#{$CONFIG_GLYPHS_BASE_PATH}.woff', '#{$CONFIG_GLYPHS_BASE_PATH}.ttf', '#{$CONFIG_GLYPHS_BASE_PATH}.svg##{$CONFIG_GLYPHS_SVG_ID}') !default;
$CONFIG_GLYPHS_WEIGHT:            normal !default;                                                  // font-weight for glyphs
$CONFIG_GLYPHS_STYLE:             normal !default;                                                  // font-style for glyphs
$CONFIG_GLYPHS_THRESHOLD:         16px !default;                                                    // the threshold to switch to halfling characters, if available
$CONFIG_GLYPHS_AUTO:              $CONFIG_RESET_AUTO !default;                                      // whether or not to auto generate the font-face definition for the glyph font
// FontAwesome icon mappings as of 2012/11/03
$CORE_GLYPHS_MAPPINGS: (
  glass                 '\f000',
  music                 '\f001',
  search                '\f002',
  envelope              '\f003',
  heart                 '\f004',
  star                  '\f005',
  star-empty            '\f006',
  user                  '\f007',
  film                  '\f008',
  th-large              '\f009',
  th                    '\f00a',
  th-list               '\f00b',
  ok                    '\f00c',
  remove                '\f00d',
  zoom-in               '\f00e',
  zoom-out              '\f010',
  off                   '\f011',
  signal                '\f012',
  cog                   '\f013',
  trash                 '\f014',
  home                  '\f015',
  file                  '\f016',
  time                  '\f017',
  road                  '\f018',
  download-alt          '\f019',
  download              '\f01a',
  upload                '\f01b',
  inbox                 '\f01c',
  play-circle           '\f01d',
  repeat                '\f01e',

  refresh               '\f021',
  list-alt              '\f022',
  lock                  '\f023',
  flag                  '\f024',
  headphones            '\f025',
  volume-off            '\f026',
  volume-down           '\f027',
  volume-up             '\f028',
  qrcode                '\f029',
  barcode               '\f02a',
  tag                   '\f02b',
  tags                  '\f02c',
  book                  '\f02d',
  bookmark              '\f02e',
  print                 '\f02f',

  camera                '\f030',
  font                  '\f031',
  bold                  '\f032',
  italic                '\f033',
  text-height           '\f034',
  text-width            '\f035',
  align-left            '\f036',
  align-center          '\f037',
  align-right           '\f038',
  align-justify         '\f039',
  list                  '\f03a',
  indent-left           '\f03b',
  indent-right          '\f03c',
  facetime-video        '\f03d',
  picture               '\f03e',

  pencil                '\f040',
  map-marker            '\f041',
  adjust                '\f042',
  tint                  '\f043',
  edit                  '\f044',
  share                 '\f045',
  check                 '\f046',
  move                  '\f047',
  step-backward         '\f048',
  fast-backward         '\f049',
  backward              '\f04a',
  play                  '\f04b',
  pause                 '\f04c',
  stop                  '\f04d',
  forward               '\f04e',

  fast-forward          '\f050',
  step-forward          '\f051',
  eject                 '\f052',
  chevron-left          '\f053',
  chevron-right         '\f054',
  plus-sign             '\f055',
  minus-sign            '\f056',
  remove-sign           '\f057',
  ok-sign               '\f058',
  question-sign         '\f059',
  info-sign             '\f05a',
  screenshot            '\f05b',
  remove-circle         '\f05c',
  ok-circle             '\f05d',
  ban-circle            '\f05e',

  arrow-left            '\f060',
  arrow-right           '\f061',
  arrow-up              '\f062',
  arrow-down            '\f063',
  share-alt             '\f064',
  resize-full           '\f065',
  resize-small          '\f066',
  plus                  '\f067',
  minus                 '\f068',
  asterisk              '\f069',
  exclamation-sign      '\f06a',
  gift                  '\f06b',
  leaf                  '\f06c',
  fire                  '\f06d',
  eye-open              '\f06e',

  eye-close             '\f070',
  warning-sign          '\f071',
  plane                 '\f072',
  calendar              '\f073',
  random                '\f074',
  comment               '\f075',
  magnet                '\f076',
  chevron-up            '\f077',
  chevron-down          '\f078',
  retweet               '\f079',
  shopping-cart         '\f07a',
  folder-close          '\f07b',
  folder-open           '\f07c',
  resize-vertical       '\f07d',
  resize-horizontal     '\f07e',

  bar-chart             '\f080',
  twitter-sign          '\f081',
  facebook-sign         '\f082',
  camera-retro          '\f083',
  key                   '\f084',
  cogs                  '\f085',
  comments              '\f086',
  thumbs-up             '\f087',
  thumbs-down           '\f088',
  star-half             '\f089',
  heart-empty           '\f08a',
  signout               '\f08b',
  linkedin-sign         '\f08c',
  pushpin               '\f08d',
  external-link         '\f08e',

  signin                '\f090',
  trophy                '\f091',
  github-sign           '\f092',
  upload-alt            '\f093',
  lemon                 '\f094',
  phone                 '\f095',
  check-empty           '\f096',
  bookmark-empty        '\f097',
  phone-sign            '\f098',
  twitter               '\f099',
  facebook              '\f09a',
  github                '\f09b',
  unlock                '\f09c',
  credit-card           '\f09d',
  rss                   '\f09e',

  hdd                   '\f0a0',
  bullhorn              '\f0a1',
  bell                  '\f0a2',
  certificate           '\f0a3',
  hand-right            '\f0a4',
  hand-left             '\f0a5',
  hand-up               '\f0a6',
  hand-down             '\f0a7',
  circle-arrow-left     '\f0a8',
  circle-arrow-right    '\f0a9',
  circle-arrow-up       '\f0aa',
  circle-arrow-down     '\f0ab',
  globe                 '\f0ac',
  wrench                '\f0ad',
  tasks                 '\f0ae',

  filter                '\f0b0',
  briefcase             '\f0b1',
  fullscreen            '\f0b2',

  group                 '\f0c0',
  link                  '\f0c1',
  cloud                 '\f0c2',
  beaker                '\f0c3',
  cut                   '\f0c4',
  copy                  '\f0c5',
  paper-clip            '\f0c6',
  save                  '\f0c7',
  sign-blank            '\f0c8',
  reorder               '\f0c9',
  list-ul               '\f0ca',
  list-ol               '\f0cb',
  strikethrough         '\f0cc',
  underline             '\f0cd',
  table                 '\f0ce',

  magic                 '\f0d0',
  truck                 '\f0d1',
  pinterest             '\f0d2',
  pinterest-sign        '\f0d3',
  google-plus-sign      '\f0d4',
  google-plus           '\f0d5',
  money                 '\f0d6',
  caret-down            '\f0d7',
  caret-up              '\f0d8',
  caret-left            '\f0d9',
  caret-right           '\f0da',
  columns               '\f0db',
  sort                  '\f0dc',
  sort-down             '\f0dd',
  sort-up               '\f0de',

  envelope-alt          '\f0e0',
  linkedin              '\f0e1',
  undo                  '\f0e2',
  legal                 '\f0e3',
  dashboard             '\f0e4',
  comment-alt           '\f0e5',
  comments-alt          '\f0e6',
  bolt                  '\f0e7',
  sitemap               '\f0e8',
  umbrella              '\f0e9',
  paste                 '\f0ea',

  user-md               '\f200'
);
$CONFIG_GLYPHS_MAPPINGS: () !default;
$CONFIG_GLYPHS_MAPPINGS: associative-merge($CORE_GLYPHS_MAPPINGS, $CONFIG_GLYPHS_MAPPINGS);

// browser targeting
$CONFIG_BROWSER_VENDORS_CLASS:    (ie) !default;                                                    // a list of browsers to support via class targeting
$CONFIG_BROWSER_ALLOW_HACKS:      true !default;                                                    // if set to true, allow browser targeting hacks
$CONFIG_BROWSER_WARN_ON_HACK:     false !default;                                                   // if hacks are used, throw a warning
// this is an associative list for various hacks
$CONFIG_BROWSER_VENDORS_HACK: (
  (webkit-all, safari webkit chrome),
  (gecko-all,  firefox gecko mozilla),
  (opera-all,  opera) // NOTE: this may stop working once Opera switches over to using WebKit/Blink
) !default;

// os targeting
$CONFIG_OS_VENDORS_CLASS: (
  (os-win,   windows win winxp win7 win8),
  (os-mac,   apple mac osx),
  (os-linux, linux),
  (os-other, other misc unknown)
) !default;

// os/language safe font stacks
// these are core font definitions, these will be extended with whatever is in $CONFIG_SAFE_FONTS
$CORE_SAFE_FONTS: (
  (sans-serif, (
    (default, (
      (default          (sans-serif)),
      (ko_KR            ('Malgun Gothic', default)),
      (zh_TW            (SimSun, default)),
      (zh_CN            (SimSun, default)),
      (ar_AE            (Tahoma, Arial, 'Times New Roman', default))
    )),
    (win, (
      (default          (Arial, sans-serif)),
      (ja_JP            (メイリオ, Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', default)),
      (zh_TW            (default, '微軟正黑體', 'Microsoft JhengHei', PMingLiu, '宋体', SimSun)),
      (zh_CN            (default, '华文细黑', 'STHeiti Light', '微软雅黑体', 'Microsoft Yahei', '新宋体', NSimSun, '宋体', SimSun)),
      (ko_KR            nil),
      (ar_AE            nil)
    )),
    (mac, (
      (default          (Helvetica, Arial, sans-serif)),
      (zh_TW            (default, '黑體-繁', 'Heiti TC', '儷黑Pro', 'LiHei Pro', PMingLiu, '宋体', SimSun)),
      (zh_CN            (default, '黑体-简', 'Heiti SC', '华文细黑', 'STHeiti Light', '华文黑体', STHeiti)),
      (ja_JP            ('Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', 'ＭＳ Ｐゴシック', 'MS PGothic', default)),
      (ko_KR            nil),
      (ar_AE            nil)
    )),
    (linux, (
      (default          (Helvetica, FreeSans, 'Liberation Sans', Helmet, Arial, sans-serif)),
      (zh_TW            (default, PMingLiu, '宋体', SimSun)),
      (zh_CN            (default, '新宋体', NSimSun, '宋体', SimSun)),
      (ja_JP            nil),
      (ko_KR            nil),
      (ar_AE            nil)
    ))
  )),
  (serif, (
    (default, (
      (default          (Georgia, serif)),
      (CJK              nil)  // dont use any serif fonts in CJK langs
    )),
    nil
  )),
  (monospace, (
    (default, (
      (default          (Menlo, Monaco, Consolas, 'Courier New', monospace)),
      nil
    )),
    nil
  )),
  (headline, (
    (default, (
      (default          nil), // by default, dont style headlines differently
      (ar_AE            ('Droid Arabic Naskh')) // TODO: need to include the webfont
    )),
    nil
  ))
); // note that this declaration isn't a `default`, but rather is enforced everytime. this can be modified (via extending $CONFIG_SAFE_FONTS)
$CONFIG_SAFE_FONTS: () !default;
$CONFIG_SAFE_FONTS: associative-merge($CORE_SAFE_FONTS, $CONFIG_SAFE_FONTS);

$archetype-glyph-selector: null !default;
$archetype-pseudo-selector: null !default;
$archetype-placeholder-registry: () !default;

$CORE_GLYPH_SELECTOR_VAR: '$archetype-glyph-selector';
$CORE_GLYPH_SELECTOR_VAR: '$archetype-pseudo-selector';
