.dropping-styles-test {
  /* should contain hover state and .test selector */
  /* [archetype:styleguide:begin] --- `dropping-styles-test` --- */
  display: block;
  color: red;
  background: green;
  /* [archetype:styleguide:end] --- `dropping-styles-test` --- */
}
.dropping-styles-test.hover, .dropping-styles-test:hover, .dropping-styles-test.focus, .dropping-styles-test:focus {
  /* [archetype:styleguide:begin] --- `module` --- */
  background: #EEEEEE;
  border: 2px solid red;
  /* [archetype:styleguide:end] --- `module` --- */
}
.dropping-styles-test.hover .test, .dropping-styles-test:hover .test, .dropping-styles-test.focus .test, .dropping-styles-test:focus .test {
  padding: 100px;
  margin: 20px;
}
.dropping-styles-test.parent {
  /* should contain hover state and .test selector */
  /* [archetype:styleguide:begin] --- `parent dropping-styles-test` --- */
  display: none;
  color: black;
  background: green;
  /* [archetype:styleguide:end] --- `parent dropping-styles-test` --- */
}
.dropping-styles-test.parent.hover, .dropping-styles-test.parent:hover, .dropping-styles-test.parent.focus, .dropping-styles-test.parent:focus {
  /* [archetype:styleguide:begin] --- `module` --- */
  background: #EEEEEE;
  border: 2px solid red;
  /* [archetype:styleguide:end] --- `module` --- */
}
.dropping-styles-test.parent.hover .test, .dropping-styles-test.parent:hover .test, .dropping-styles-test.parent.focus .test, .dropping-styles-test.parent:focus .test {
  padding: 100px;
  margin: 20px;
}
.dropping-styles-test.heir {
  /* should contain hover state and .test selector */
  /* [archetype:styleguide:begin] --- `heir dropping-styles-test` --- */
  display: none;
  color: black;
  background: green;
  /* [archetype:styleguide:end] --- `heir dropping-styles-test` --- */
}
.dropping-styles-test.heir.hover, .dropping-styles-test.heir:hover, .dropping-styles-test.heir.focus, .dropping-styles-test.heir:focus {
  /* [archetype:styleguide:begin] --- `module` --- */
  background: #EEEEEE;
  border: 2px solid red;
  /* [archetype:styleguide:end] --- `module` --- */
}
.dropping-styles-test.heir.hover .test, .dropping-styles-test.heir:hover .test, .dropping-styles-test.heir.focus .test, .dropping-styles-test.heir:focus .test {
  padding: 100px;
  margin: 20px;
}
.dropping-styles-test.dropped {
  /* should only contain color:yellow */
  /* [archetype:styleguide:begin] --- `dropped dropping-styles-test` --- */
  color: yellow;
  /* [archetype:styleguide:end] --- `dropped dropping-styles-test` --- */
}
.dropping-styles-test.dropped2 {
  /* should contain color:yellow, custom :hover, :active */
  /* [archetype:styleguide:begin] --- `dropped2 dropping-styles-test` --- */
  color: yellow;
  /* [archetype:styleguide:end] --- `dropped2 dropping-styles-test` --- */
}
.dropping-styles-test.dropped2.hover, .dropping-styles-test.dropped2:hover, .dropping-styles-test.dropped2.focus, .dropping-styles-test.dropped2:focus {
  color: blue;
}
.dropping-styles-test.dropped2.active, .dropping-styles-test.dropped2:active {
  color: green;
  width: 100%;
}
.dropping-styles-test.dropped3 {
  /* should only contain color:purple */
  /* [archetype:styleguide:begin] --- `dropped3 dropping-styles-test` --- */
  display: block;
  color: purple;
  background: green;
  /* [archetype:styleguide:end] --- `dropped3 dropping-styles-test` --- */
}

/*# sourceMappingURL=drop.css.map */
