// environment
$CONFIG_DEBUG_ENVS:   (dev development) !default;                                       // environments to allow debug in
$CONFIG_DEBUG:        (not not index($CONFIG_DEBUG_ENVS, archetype-env())) !default;   // global debugging mode (enabled by default in $CONFIG_DEBUG_ENVS)

$CONFIG_LOCALE:       locale() !default;                                                // the default locale

$CONFIG_NAMESPACE:    null !default;                                                    // the namespace to generate CSS within

@mixin unless-archetype-module-initalized($module: null) {
  @if not archetype-init-state() and (not $module or do-once("archetype/init+#{$module}")) {
    @content;
  }
}

@mixin unless-archetype-initalized {
  @if not archetype-init-state() {
    @content;
  }
}
