$archetype-glyph-selector: null !default;
$archetype-pseudo-selector: null !default;
$archetype-placeholder-registry: () !default;

$archetype-current-value: null !global;

$archetype-origin-function: null !global;

$CORE_GLYPH_SELECTOR_VAR: '$archetype-glyph-selector';
$CORE_GLYPH_SELECTOR_VAR: '$archetype-pseudo-selector';
