@import "archetype";

// test for a simple locale
.en_US {
  @if(locale(en_US)) {
    content: "en_US";
  }
}

// test for a wildcard territory
.en_wild {
  @if(locale(en_)) {
    content: "en_*";
  }
}

// test for a wildcard language
.wild_US {
  @if(locale(_US)) {
    content: "*_US";
  }
}

// multiple locales, one valid
.one {
  @if(locale(de_DE fr_FR pt_ en_US)) {
    content: "one of de_DE fr_FR pt_ en_US";
  }
}

// multiple locales, none valid
.not {
  @if(not locale(ja_JP pt_BR _GB de_)) {
    content: "not one of ja_JP pt_BR _GB de_";
  }
}

// test that the lang() alias works
.lang {
  @if(lang(en_US)) {
    content: "en_US";
  }
}