@import "test_harness";

@if should-register-component(bem-state-selector-styleguide-test) {
$a-blackhole: styleguide-add-component(bem-state-selector-styleguide-test, (), (
  (default, (
    display         block,
    color           red,
    (states, (
      (hover, (
        color  red
      )),
      (hover-only, (
        color  blue
      )),
      (focus, (
        color  green
      )),
      (active, (
        color  black
      )),
      (my-custom-state, (
        color  pink
      ))
    ))
  )),
  nil
)) !global;
}

/* BEM states off */
$CONFIG_STATE_BEM: false;
.bem-state-test-false {
  @include styleguide(bem-state-selector-styleguide-test);
}

/* BEM states on */
$CONFIG_STATE_BEM: true;
.bem-state-test-true {
  @include styleguide(bem-state-selector-styleguide-test);
}

/* BEM states ONLY */
$CONFIG_STATE_BEM: only;
.bem-state-test-only {
  @include styleguide(bem-state-selector-styleguide-test);
}
