@import "test_harness";

.some-extend-class {
  color: red;
}

%some-extend-placeholder {
  background: green;
}

@if not styleguide-component-exists(extend-styleguide-test, $CONFIG_THEME) {
$a-blackhole: styleguide-add-component(extend-styleguide-test, (), (
  (default, (
    extend    '.some-extend-class',
    extend    '%some-extend-placeholder'
  )),
  nil
), $CONFIG_THEME);
}

.extend-styleguide-test {
  @include styleguide(extend-styleguide-test);
}
