@import "test_harness";

.some-extend-class {
  color: red;
}

%some-extend-placeholder {
  background: green;
}

@if should-register-component(extend-styleguide-test) {
$a-blackhole: styleguide-add-component(extend-styleguide-test, (), (
  default: (
    extend:   '.some-extend-class',
    extend:   '%some-extend-placeholder'
  )
)) !global;
}

.extend-styleguide-test {
  @include styleguide(extend-styleguide-test);
}
