@import "test_harness";

$id: known-component;
$a-blackhole: styleguide-add-component($id, (
  default: (
    color: red
  )
)) !global;
$known: styleguide-components();
/* styleguide-components() contains `#{$id}`: #{index($known, $id) != null} */
