@import "test_harness";

@if should-register-component(map-structure-test) {
$a-blackhole: styleguide-add-component(map-structure-test, (), (
  default: (
    display:         block,
    color:           red,
    color:           rgba(red, 0.8), // this works because of a patch, you shouldn't use multi-keyed maps
    selectors: (
      '&.test': (
        color:  green
      )
    ),
    states: (
      hover: (
        color: blue
      )
    )
  )
));
}

.test {
  @include styleguide(map-structure-test);
}


$map: (
  first: first-value,
  dup: value,
  dup: value2
);

.map-get {
  /* map[first]: #{map-get($map, first)} */
  /* map[dup]: #{map-get($map, dup)} */
}

.map-keys {
  /* keys: #{map-keys($map)} */
}
