@import "test_harness";

@if should-register-component(multi-value-styleguide-test) {
$a-blackhole: styleguide-add-component(multi-value-styleguide-test, (), (
  default: (
    color:          gray,
    color:          rgba(0,0,0, 0.7),
    background:     white,
    background:     transparent,
    target-browser: (ie lte 7, color, blue),
    target-browser: (ie 8, color, red),
    target-browser: (firefox, color, pink)
  )
)) !global;
}

.multi-value-styleguide-test {
  @include styleguide(multi-value-styleguide-test);
}
