@import "test_harness";

@if should-register-component(multi-value-styleguide-test) {
$a-blackhole: styleguide-add-component(multi-value-styleguide-test, (), (
  default: (
    color:          multiple-values(gray, rgba(0,0,0, 0.7)),
    background:     multiple-values(white, transparent),
    target-browser: multiple-values((ie lte 7, color, blue), (ie 8, color, red), (firefox, color, pink))
  )
)) !global;
}

.multi-value-styleguide-test {
  @include styleguide(multi-value-styleguide-test);
}
