@import "test_harness";

$trash: register-breakpoint(smartphone, 'only screen and (min-device-width : 320px) and (max-device-width : 480px)');

$CONFIG_RESOLUTION_HIGH: 2;

%test {
  test: true;
}

@if should-register-component(special-prop-test) {
$a-blackhole: styleguide-add-component(special-prop-test, (), (
  default: (
    inline-block:         (middle, top),
    hide-text:            -archetype-no-value,
    hide-element:         -archetype-no-value,
    target-browser:       (ie lte 8, target-browser, (ie lte 7, color, red)),
    '@extend':            '%test',
    '{raw}target-browser': raw-value,
    '@media':             (
      'only screen and (min-device-width: 320px)' : (
        color: red,
        background: green
      )
    ),
    '@keyframes':         (
      test-frames:        (
        'from, to': (
          color: green,
          height: 100px
        )
      )
    ),
    breakpoint:           (
      'smartphone':       (
        color: pink
      )
    ),
    high-resolution:      (
      color: purple
    )
  )
)) !global;
}

@if should-register-component(special-prop-test-2) {
$a-blackhole: styleguide-add-component(special-prop-test-2, (), (
  default: (
    // you can use a property with `property:...` (everything from the `:` on is ignored)
    // this allows multiple values per property, but also allows us to modify specific keys within variants
    'target-browser:color': (ie lte 8, color, red),
    'target-browser:width': (ie lte 9, width, 120px),
    color:                  red,
    'color:1':              green,
    'color:2':              blue,
    'color:custom':         #abc123
  ),
  variant: (
    color:                  pink,
    'color:custom':         #987fed,
    'target-browser:width': nil  // we only want to modify the target-browser that's dealing with `width`, not the one for `color`
  )
)) !global;
}

.test {
  @include styleguide(special-prop-test);
}

.test2 {
  @include styleguide(special-prop-test-2);
  &.variant {
    @include styleguide(variant special-prop-test-2);
  }
}
