.en_US {
  content: "en_US";
}

.en_wild {
  content: "en_*";
}

.wild_US {
  content: "*_US";
}

.one {
  content: "one of de_DE fr_FR pt_ en_US";
}

.not {
  content: "not one of ja_JP pt_BR _GB de_";
}

.lang {
  content: "en_US";
}
