.test {
  /* testing: MyCustomNamespace_testing; */
  *zoom: expression(this.runtimeStyle.zoom="1",(function(t){setTimeout(function(){t.el=document.createElement("x-archetype-glyph"),t.el.id="ie-pseudo-archetype-uid-RANDOM_UID",t.el.innerHTML="&#xf0d7;",t.insertBefore(t.el,t.childNodes[0]||null)})}(this)));
}
.test:before {
  content: "\f0d7";
}
.test:before, .test #ie-pseudo-archetype-uid-RANDOM_UID {
  font-family: 'MyCustomNamespace_FontAwesome';
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  display: inline-block;
  speak: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-size: 100%;
  color: inherit;
}

@font-face {
  font-family: "MyCustomNamespace_FontAwesome";
  src: url('/assets/fonts/vendor/archetype/fontawesome-webfont.eot');
  src: url('/assets/fonts/vendor/archetype/fontawesome-webfont.eot?#iefix') format('embedded-opentype'), url('/assets/fonts/vendor/archetype/fontawesome-webfont.woff') format('woff'), url('/assets/fonts/vendor/archetype/fontawesome-webfont.ttf') format('truetype'), url('/assets/fonts/vendor/archetype/fontawesome-webfont.svg#MyCustomNamespace_FontAwesome') format('svg');
  font-weight: normal;
  font-style: normal;
}
@-moz-keyframes MyCustomNamespace_archetype-loader {
  from {
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  to {
    -moz-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-ms-keyframes MyCustomNamespace_archetype-loader {
  from {
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  to {
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes MyCustomNamespace_archetype-loader {
  from {
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  to {
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes MyCustomNamespace_archetype-loader {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes MyCustomNamespace_archetype-loader {
  from {
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  to {
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes MyCustomNamespace_archetype-loader-position-medium-1 {
  from, to {
    background-position: 0 -460px;
    width: 58px;
    height: 58px;
    margin-left: -29px;
    margin-top: -29px;
  }
}
@-ms-keyframes MyCustomNamespace_archetype-loader-position-medium-1 {
  from, to {
    background-position: 0 -460px;
    width: 58px;
    height: 58px;
    margin-left: -29px;
    margin-top: -29px;
  }
}
@-o-keyframes MyCustomNamespace_archetype-loader-position-medium-1 {
  from, to {
    background-position: 0 -460px;
    width: 58px;
    height: 58px;
    margin-left: -29px;
    margin-top: -29px;
  }
}
@-webkit-keyframes MyCustomNamespace_archetype-loader-position-medium-1 {
  from, to {
    background-position: 0 -460px;
    width: 58px;
    height: 58px;
    margin-left: -29px;
    margin-top: -29px;
  }
}
@keyframes MyCustomNamespace_archetype-loader-position-medium-1 {
  from, to {
    background-position: 0 -460px;
    width: 58px;
    height: 58px;
    margin-left: -29px;
    margin-top: -29px;
  }
}
@-moz-keyframes MyCustomNamespace_archetype-loader-position-medium-2 {
  from, to {
    background-position: 0 -518px;
    width: 58px;
    height: 58px;
    margin-left: -29px;
    margin-top: -29px;
  }
}
@-ms-keyframes MyCustomNamespace_archetype-loader-position-medium-2 {
  from, to {
    background-position: 0 -518px;
    width: 58px;
    height: 58px;
    margin-left: -29px;
    margin-top: -29px;
  }
}
@-o-keyframes MyCustomNamespace_archetype-loader-position-medium-2 {
  from, to {
    background-position: 0 -518px;
    width: 58px;
    height: 58px;
    margin-left: -29px;
    margin-top: -29px;
  }
}
@-webkit-keyframes MyCustomNamespace_archetype-loader-position-medium-2 {
  from, to {
    background-position: 0 -518px;
    width: 58px;
    height: 58px;
    margin-left: -29px;
    margin-top: -29px;
  }
}
@keyframes MyCustomNamespace_archetype-loader-position-medium-2 {
  from, to {
    background-position: 0 -518px;
    width: 58px;
    height: 58px;
    margin-left: -29px;
    margin-top: -29px;
  }
}
@-moz-keyframes MyCustomNamespace_archetype-loader-position-small-1 {
  from, to {
    background-position: 0 -692px;
    width: 16px;
    height: 16px;
    margin-left: -8px;
    margin-top: -8px;
  }
}
@-ms-keyframes MyCustomNamespace_archetype-loader-position-small-1 {
  from, to {
    background-position: 0 -692px;
    width: 16px;
    height: 16px;
    margin-left: -8px;
    margin-top: -8px;
  }
}
@-o-keyframes MyCustomNamespace_archetype-loader-position-small-1 {
  from, to {
    background-position: 0 -692px;
    width: 16px;
    height: 16px;
    margin-left: -8px;
    margin-top: -8px;
  }
}
@-webkit-keyframes MyCustomNamespace_archetype-loader-position-small-1 {
  from, to {
    background-position: 0 -692px;
    width: 16px;
    height: 16px;
    margin-left: -8px;
    margin-top: -8px;
  }
}
@keyframes MyCustomNamespace_archetype-loader-position-small-1 {
  from, to {
    background-position: 0 -692px;
    width: 16px;
    height: 16px;
    margin-left: -8px;
    margin-top: -8px;
  }
}
@-moz-keyframes MyCustomNamespace_archetype-loader-position-small-2 {
  from, to {
    background-position: 0 -708px;
    width: 16px;
    height: 16px;
    margin-left: -8px;
    margin-top: -8px;
  }
}
@-ms-keyframes MyCustomNamespace_archetype-loader-position-small-2 {
  from, to {
    background-position: 0 -708px;
    width: 16px;
    height: 16px;
    margin-left: -8px;
    margin-top: -8px;
  }
}
@-o-keyframes MyCustomNamespace_archetype-loader-position-small-2 {
  from, to {
    background-position: 0 -708px;
    width: 16px;
    height: 16px;
    margin-left: -8px;
    margin-top: -8px;
  }
}
@-webkit-keyframes MyCustomNamespace_archetype-loader-position-small-2 {
  from, to {
    background-position: 0 -708px;
    width: 16px;
    height: 16px;
    margin-left: -8px;
    margin-top: -8px;
  }
}
@keyframes MyCustomNamespace_archetype-loader-position-small-2 {
  from, to {
    background-position: 0 -708px;
    width: 16px;
    height: 16px;
    margin-left: -8px;
    margin-top: -8px;
  }
}
@-moz-keyframes MyCustomNamespace_archetype-loader-position-large-1 {
  from, to {
    background-position: 0 0;
    width: 115px;
    height: 115px;
    margin-left: -57.5px;
    margin-top: -57.5px;
  }
}
@-ms-keyframes MyCustomNamespace_archetype-loader-position-large-1 {
  from, to {
    background-position: 0 0;
    width: 115px;
    height: 115px;
    margin-left: -57.5px;
    margin-top: -57.5px;
  }
}
@-o-keyframes MyCustomNamespace_archetype-loader-position-large-1 {
  from, to {
    background-position: 0 0;
    width: 115px;
    height: 115px;
    margin-left: -57.5px;
    margin-top: -57.5px;
  }
}
@-webkit-keyframes MyCustomNamespace_archetype-loader-position-large-1 {
  from, to {
    background-position: 0 0;
    width: 115px;
    height: 115px;
    margin-left: -57.5px;
    margin-top: -57.5px;
  }
}
@keyframes MyCustomNamespace_archetype-loader-position-large-1 {
  from, to {
    background-position: 0 0;
    width: 115px;
    height: 115px;
    margin-left: -57.5px;
    margin-top: -57.5px;
  }
}
@-moz-keyframes MyCustomNamespace_archetype-loader-position-large-2 {
  from, to {
    background-position: 0 -115px;
    width: 115px;
    height: 115px;
    margin-left: -57.5px;
    margin-top: -57.5px;
  }
}
@-ms-keyframes MyCustomNamespace_archetype-loader-position-large-2 {
  from, to {
    background-position: 0 -115px;
    width: 115px;
    height: 115px;
    margin-left: -57.5px;
    margin-top: -57.5px;
  }
}
@-o-keyframes MyCustomNamespace_archetype-loader-position-large-2 {
  from, to {
    background-position: 0 -115px;
    width: 115px;
    height: 115px;
    margin-left: -57.5px;
    margin-top: -57.5px;
  }
}
@-webkit-keyframes MyCustomNamespace_archetype-loader-position-large-2 {
  from, to {
    background-position: 0 -115px;
    width: 115px;
    height: 115px;
    margin-left: -57.5px;
    margin-top: -57.5px;
  }
}
@keyframes MyCustomNamespace_archetype-loader-position-large-2 {
  from, to {
    background-position: 0 -115px;
    width: 115px;
    height: 115px;
    margin-left: -57.5px;
    margin-top: -57.5px;
  }
}
