// this case verifies that you can define `fallback` css properties

@import "test_harness";

@if should-register-component(fallback-styleguide-test) {
$a-blackhole: styleguide-add-component(fallback-styleguide-test, (), (
  default: (
    background:      multiple-values((transparent url(/some/img.png) repeat), rbga(255, 0, 0, 0.9)),
    white-space:     multiple-values(pre-wrap, -moz-pre-wrap, -pre-wrap, -o-pre-wrap),
    something:       multiple-values(invalid, valid)
  )
)) !global;
}

.fallback-styleguide-test {
  @include styleguide(fallback-styleguide-test);
}
