@import "test_harness";

@if should-register-component(map-structure-test) {
$a-blackhole: styleguide-add-component(map-structure-test, (), (
  default: (
    display:         block,
    color:           multiple-values(red, rgba(red, 0.8)), // this works because of a patch, you shouldn't use multi-keyed maps
    selectors: (
      '&.test': (
        color:  green
      )
    ),
    states: (
      hover: (
        color: blue
      )
    )
  ),
  in something: (
    color: yellow
  )
)) !global;
}

.test {
  @include styleguide(map-structure-test);
}
.test2 {
  @include styleguide(map-structure-test in something);
}
