<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js ie ie6 lte9 lte8 lte7" lang="{{ site.lang }}"><![endif]-->
<!--[if IE 7]><html class="no-js ie ie7 lte9 lte8 lte7" lang="{{ site.lang }}"><![endif]-->
<!--[if IE 8]><html class="no-js ie ie8 lte9 lte8" lang="{{ site.lang }}"><![endif]-->
<!--[if IE 9]><html class="no-js ie ie9 lte9" lang="{{ site.lang }}"><![endif]-->
<!--[if gt IE 9]><!--><html class="no-js" lang="{{ site.lang }}"><!--<![endif]-->
<head>
{% include modules/head %}
</head>
<body class="{% if page.type %}type-{{ page.type }}{% endif %}" id="{% if page.key %}page-{{ page.key }}{% elsif page.id %}{{ page.id }}{% endif %}">
{% include scripts/classnames %}
<header id="global-header">
  <div>
    <a class="brand" href="{{ HOME_PATH }}">{{ site.title }}</a>
    <nav>
      <ul>
        {% assign pages_list = site.pages %}
        {% assign group = 'navigation' %}
        {% include JB/pages_list %}
        <li><a href="{{ GIT_PATH }}issues">Discussion</a></li>
      </ul>
    </nav>
  </div>
</header>
<div id="main">
{{ content }}
</div>
<footer id="global-footer">
  <div>
    <p class="copyright">
      {{ site.copyright.holder }} &copy; {{ site.copyright.year }}
    </p>
    {% unless site.footer.links == false %}
      <ul>
      {% for link in site.footer.links %}
        <li><a href="{% if link.git %}{{ GIT_PATH }}{% elsif link.relative %}{{ BASE_PATH }}{% endif %}{{ link.url }}">{{ link.title }}</a></li>
      {% endfor %}
      {% assign pages_list = site.pages %}
      {% assign group = 'secondary-navigation' %}
      {% include JB/pages_list %}
      </ul>
    {% endunless %}
    <p class="social-actions">
      <iframe width="112px" scrolling="0" height="20px" frameborder="0" allowtransparency="true" src="http://ghbtns.com/github-btn.html?user=linkedin&amp;repo=archetype&amp;type=watch&amp;count=true" class="github-btn"></iframe>
      <iframe width="98px" scrolling="0" height="20px" frameborder="0" allowtransparency="true" src="http://ghbtns.com/github-btn.html?user=linkedin&amp;repo=archetype&amp;type=fork&amp;count=true" class="github-btn"></iframe>
    </p>
  </div>
</footer>
{% include JB/analytics %}
{% include scripts/jquery %}
</body>
</html>
