.test {
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#66FFFFFF, endColorstr=#FFFFFFFF);
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwLjQiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(255, 255, 255, 0.4)), color-stop(100%, #ffffff));
  background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.4), #ffffff);
  background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0.4), #ffffff);
  background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.4), #ffffff);
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.4), #ffffff);
  content: "\0020";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  text-align: center;
  bottom: 0;
  left: 0;
}

.with-params {
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#33001122, endColorstr=#FF112233, GradientType=1);
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuNSIgeDI9IjEuMCIgeTI9IjAuNSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMTEyMiIgc3RvcC1vcGFjaXR5PSIwLjIiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxMTIyMzMiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, rgba(0, 17, 34, 0.2)), color-stop(100%, #112233));
  background-image: -moz-linear-gradient(left, rgba(0, 17, 34, 0.2), #112233);
  background-image: -o-linear-gradient(left, rgba(0, 17, 34, 0.2), #112233);
  background-image: -webkit-linear-gradient(left, rgba(0, 17, 34, 0.2), #112233);
  background-image: linear-gradient(to right, rgba(0, 17, 34, 0.2), #112233);
  content: "\0020";
  display: block;
  width: 100px;
  height: 200px;
  position: absolute;
  text-align: center;
  bottom: 0;
  right: 0;
}
