@font-face {
  font-family: "FontAwesome";
  src: url('/assets/fonts/vendor/archetype/fontawesome-webfont.eot');
  src: url('/assets/fonts/vendor/archetype/fontawesome-webfont.eot?#iefix') format('eot'), url('/assets/fonts/vendor/archetype/fontawesome-webfont.woff') format('woff'), url('/assets/fonts/vendor/archetype/fontawesome-webfont.ttf') format('truetype'), url('/assets/fonts/vendor/archetype/fontawesome-webfont.svg#FontAwesome') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "FontAwesome-0.0.1";
  src: url('/assets/fonts/vendor/archetype/fontawesome-webfont.eot');
  src: url('/assets/fonts/vendor/archetype/fontawesome-webfont.eot?#iefix') format('eot'), url('/assets/fonts/vendor/archetype/fontawesome-webfont.woff') format('woff'), url('/assets/fonts/vendor/archetype/fontawesome-webfont.ttf') format('truetype'), url('/assets/fonts/vendor/archetype/fontawesome-webfont.svg#FontAwesome') format('svg');
  font-weight: normal;
  font-style: normal;
}

.simple {
  *zoom: expression(this.runtimeStyle.zoom="1", this.el=document.createElement("x-archetype-glyph"),this.el.id="ie-pseudo-archetype-uid-RANDOM_UID",this.el.innerHTML="&#xf0d7;",this.el.style.cssText="font-family:'FontAwesome-0.0.1', 'FontAwesome';font-weight:normal;font-style:normal;text-decoration:inherit;font-size:100%;color:inherit;",this.insertBefore(this.el));
}
.simple:before {
  font-family: "FontAwesome-0.0.1", "FontAwesome";
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  speak: none;
  font-size: 100%;
  color: inherit;
  content: "\f0d7";
}

.false {
  font-family: "FontAwesome-0.0.1", "FontAwesome";
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  speak: none;
  font-size: 100%;
  color: inherit;
}

.size {
  *zoom: expression(this.runtimeStyle.zoom="1", this.el=document.createElement("x-archetype-glyph"),this.el.id="ie-pseudo-archetype-uid-RANDOM_UID",this.el.innerHTML="&#xf0d7;",this.el.style.cssText="font-family:'FontAwesome-0.0.1', 'FontAwesome';font-weight:normal;font-style:normal;text-decoration:inherit;font-size:20px;color:inherit;",this.insertBefore(this.el));
}
.size:before {
  font-family: "FontAwesome-0.0.1", "FontAwesome";
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  speak: none;
  font-size: 20px;
  color: inherit;
  content: "\f0d7";
}

.not-inline {
  *zoom: expression(this.runtimeStyle.zoom="1", this.el=document.createElement("x-archetype-glyph"),this.el.id="ie-pseudo-archetype-uid-RANDOM_UID",this.el.innerHTML="&#xf0d7;",this.insertBefore(this.el));
}
.not-inline:before {
  font-family: "FontAwesome-0.0.1", "FontAwesome";
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  speak: none;
  font-size: 100%;
  color: inherit;
  content: "\f0d7";
}
.not-inline #ie-pseudo-archetype-uid-RANDOM_UID {
  font-family: 'FontAwesome-0.0.1', 'FontAwesome';
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  font-size: 100%;
  color: inherit;
}

.ie-uid {
  *zoom: expression(this.runtimeStyle.zoom="1", this.el=document.createElement("x-archetype-glyph"),this.el.id="my-custom-id",this.el.innerHTML="&#xf0d7;",this.insertBefore(this.el));
}
.ie-uid:before {
  font-family: "FontAwesome-0.0.1", "FontAwesome";
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  speak: none;
  font-size: 100%;
  color: inherit;
  content: "\f0d7";
}
.ie-uid #my-custom-id {
  font-family: 'FontAwesome-0.0.1', 'FontAwesome';
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  font-size: 100%;
  color: inherit;
}
.ie-uid:before, .ie-uid #my-custom-id {
  color: pink;
}

.content-block {
  *zoom: expression(this.runtimeStyle.zoom="1", this.el=document.createElement("x-archetype-glyph"),this.el.id="ie-pseudo-archetype-uid-RANDOM_UID",this.el.innerHTML="&#xf0d7;",this.insertBefore(this.el));
}
.content-block:before {
  font-family: "FontAwesome-0.0.1", "FontAwesome";
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  speak: none;
  font-size: 100%;
  color: inherit;
  content: "\f0d7";
}
.content-block #ie-pseudo-archetype-uid-RANDOM_UID {
  font-family: 'FontAwesome-0.0.1', 'FontAwesome';
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  font-size: 100%;
  color: inherit;
}
.content-block:before, .content-block #ie-pseudo-archetype-uid-RANDOM_UID {
  position: absolute;
  top: 10px;
  left: 10px;
}
