.stroke {
  -webkit-box-shadow: 0 1px 0 black, 0 -1px 0 black, 1px 0 0 black, -1px 0 0 black;
  -moz-box-shadow: 0 1px 0 black, 0 -1px 0 black, 1px 0 0 black, -1px 0 0 black;
  box-shadow: 0 1px 0 black, 0 -1px 0 black, 1px 0 0 black, -1px 0 0 black;
}

.stroke-fat {
  -webkit-box-shadow: 0 10px 0 black, 0 -10px 0 black, 10px 0 0 black, -10px 0 0 black;
  -moz-box-shadow: 0 10px 0 black, 0 -10px 0 black, 10px 0 0 black, -10px 0 0 black;
  box-shadow: 0 10px 0 black, 0 -10px 0 black, 10px 0 0 black, -10px 0 0 black;
}

.stroke-colorful {
  -webkit-box-shadow: 0 10px 0 red, 0 -10px 0 red, 10px 0 0 red, -10px 0 0 red;
  -moz-box-shadow: 0 10px 0 red, 0 -10px 0 red, 10px 0 0 red, -10px 0 0 red;
  box-shadow: 0 10px 0 red, 0 -10px 0 red, 10px 0 0 red, -10px 0 0 red;
}
