.a {
  height: 0;
  width: 0;
  /* [archetype:target-browser:being] --- ie 6 --- */
  _font-size: 0;
  /* [archetype:target-browser:end]   --- ie 6 --- */
  /* [archetype:target-browser:being] --- ie 6 --- */
  _line-height: 0;
  /* [archetype:target-browser:end]   --- ie 6 --- */
  border-style: dashed;
  border-color: transparent;
  border-width: 1em 0.5em 0;
  border-top-color: #aaaaaa;
  border-top-style: solid;
}
.ie.ie6 .a {
  /* [archetype:target-browser:begin] --- ie 6 --- */
  /* [archetype:target-browser:end]   --- ie 6 --- */
}
.ie.ie6 .a {
  /* [archetype:target-browser:begin] --- ie 6 --- */
  /* [archetype:target-browser:end]   --- ie 6 --- */
}

.b {
  height: 0;
  width: 0;
  /* [archetype:target-browser:being] --- ie 6 --- */
  _font-size: 0;
  /* [archetype:target-browser:end]   --- ie 6 --- */
  /* [archetype:target-browser:being] --- ie 6 --- */
  _line-height: 0;
  /* [archetype:target-browser:end]   --- ie 6 --- */
  border-style: dashed;
  border-color: transparent;
  border-width: 0 5px 5px;
  border-bottom-color: black;
  border-bottom-style: solid;
}
.ie.ie6 .b {
  /* [archetype:target-browser:begin] --- ie 6 --- */
  /* [archetype:target-browser:end]   --- ie 6 --- */
}
.ie.ie6 .b {
  /* [archetype:target-browser:begin] --- ie 6 --- */
  /* [archetype:target-browser:end]   --- ie 6 --- */
}

.c {
  height: 0;
  width: 0;
  /* [archetype:target-browser:being] --- ie 6 --- */
  _font-size: 0;
  /* [archetype:target-browser:end]   --- ie 6 --- */
  /* [archetype:target-browser:being] --- ie 6 --- */
  _line-height: 0;
  /* [archetype:target-browser:end]   --- ie 6 --- */
  border-style: dashed;
  border-color: transparent;
  border-width: 0 10px 5px 0;
  border-bottom-color: black;
  border-bottom-style: solid;
}
.ie.ie6 .c {
  /* [archetype:target-browser:begin] --- ie 6 --- */
  /* [archetype:target-browser:end]   --- ie 6 --- */
}
.ie.ie6 .c {
  /* [archetype:target-browser:begin] --- ie 6 --- */
  /* [archetype:target-browser:end]   --- ie 6 --- */
}
