<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
  <title>Archetype Demo</title>
  <!--[if lt IE 9]>  
  <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>  
  <![endif]-->
  <link rel="stylesheet" href="stylesheets/screen.css"/>
</head>
<body>

<div id="canvas">
  <div id="welcome">
    Welcome to the <a href="#">Archetype Demo</a>.
  </div>
  <section id="main">
    <a href="#" class="download">Download</a> You can do <a href="#" class="hint">more!<span class="hint">This is a tooltip yo!</span></a>
    <div class="dialog">
      <h2 class="title">Mix-n-Match <button class="dismiss">dismiss this dialog</button></h2>
      <div class="content">
        Here's an example using multiple components to create a more complex interface.
      </div>
      <div class="actions">
        <a href="#" class="accept">Accept</a>
        <a href="#" class="cancel">Cancel</a>
      </div>
    </div>
    <div class="loading">
      <p>this is some text</p>
      <b class="spinner"></b>
    </div>
  </section>
  <section id="sidebar">
    <a href="#" class="download">Download</a>
  </section>
</div>

</body>
</html>