// @category   ui/breakpoints

// wraps the content block in a breakpoint media query
// @mixin     breakpoint
// @param     $key {String|List} the breakpoint(s) to use
// @content
@mixin breakpoint($key) {
  $media-query: nil;
  $key-length: length($key);

  @for $i from 1 through $key-length{
    $breakpoint-key: nth($key, $i);
    $breakpoint: get-breakpoint($breakpoint-key);
    @if $breakpoint {
      $media-query: if($i > 1, $media-query + ", " + $breakpoint, $breakpoint);
    }
    @else{
      @warn "[archetype:breakpoint] could not find a breakpoint for `#{$breakpoint-key}`";
    }
  }

  @if $media-query != nil {
    @media #{$media-query} {
      /* [archetype:breakpoint:begin] --- #{$key} --- */
      @content;
      /* [archetype:breakpoint:end] --- #{$key} --- */
    }
  }
}
