// @category   ui/locale

// temporarily switch the interface locale
// @mixin     switch-locale
// @param     $locale {String} the locale code to switch to
// @content
@mixin switch-locale($locale) {
  // keep track of the current locale
  $current: $CONFIG_LOCALE;
  $CONFIG_LOCALE: $locale !global;
  @content;
  $CONFIG_LOCALE: $current !global;
}
