// @category   ui/selectors

// a mixin to output the current context in a BEM style selector
// @link http://bem.info/method/
// @mixin     BEM
// @param     $element {String} the element name
// @param     $modifier {String} the modifier
// @content
@mixin bem($element: null, $modifier: null) {
  $root: "#{'&'}";
  $selector: $root;
  $msg: "the current context may produce a non-standard BEM selector for";
  @if $element {
    @if str-index($root, $CONFIG_BEM_ELEMENT_SEPARATOR) or str-index($root, $CONFIG_BEM_MODIFIER_SEPARATOR) {
      @warn "#{$msg} element `#{$element}`: #{$root}";
    }
    $selector: "#{$selector}#{$CONFIG_BEM_ELEMENT_SEPARATOR}#{$element}";
  }

  @if $modifier {
    @if str-index($root, $CONFIG_BEM_MODIFIER_SEPARATOR) {
      @warn "#{$msg} modifier `#{$modifier}`: #{$root}";
    }
    $selector: "#{$selector}#{$CONFIG_BEM_MODIFIER_SEPARATOR}#{$modifier}";
  }
  @at-root #{$selector} {
    @content;
  }
}
