// ==========
// CONTAINER
// ==========
$STYLEGUIDE_CONTAINERS_ID: container !default;
$STYLEGUIDE_CONTAINERS: () !default;

@if should-register-component($STYLEGUIDE_CONTAINERS_ID) {
$a-blackhole: styleguide-add-component($STYLEGUIDE_CONTAINERS_ID,  $STYLEGUIDE_CONTAINERS, (
  default: (
    background:         nth($CONFIG_TEXTURE_CONTAINER, 1),
    box-shadow:         $CONFIG_SHADOW_CONTAINER,
    target-browser:     $CONFIG_SHADOW_CONTAINER_ALT   // simulate the shadow in IE<9
  ),
  light: null, // inherit the default
  dark: (
    background:         nth($CONFIG_TEXTURE_CONTAINER, 2)
  ),
  without shadow: (
    box-shadow:         null,
    target-browser:     null
  )
)) !global;
}
