.dropping-styles-test {
  /* should contain hover state and .test selector */
  display: block;
  color: red;
  background: green;
}
.dropping-styles-test.hover, .dropping-styles-test:hover, .dropping-styles-test.focus, .dropping-styles-test:focus {
  background: #eeeeee;
  border: 2px solid red;
}
.dropping-styles-test.hover .test, .dropping-styles-test:hover .test, .dropping-styles-test.focus .test, .dropping-styles-test:focus .test {
  padding: 100px;
  margin: 20px;
}
.dropping-styles-test.parent {
  /* should contain hover state and .test selector */
  display: none;
  color: black;
  background: green;
}
.dropping-styles-test.parent.hover, .dropping-styles-test.parent:hover, .dropping-styles-test.parent.focus, .dropping-styles-test.parent:focus {
  background: #eeeeee;
  border: 2px solid red;
}
.dropping-styles-test.parent.hover .test, .dropping-styles-test.parent:hover .test, .dropping-styles-test.parent.focus .test, .dropping-styles-test.parent:focus .test {
  padding: 100px;
  margin: 20px;
}
.dropping-styles-test.heir {
  /* should contain hover state and .test selector */
  display: none;
  color: black;
  background: green;
}
.dropping-styles-test.heir.hover, .dropping-styles-test.heir:hover, .dropping-styles-test.heir.focus, .dropping-styles-test.heir:focus {
  background: #eeeeee;
  border: 2px solid red;
}
.dropping-styles-test.heir.hover .test, .dropping-styles-test.heir:hover .test, .dropping-styles-test.heir.focus .test, .dropping-styles-test.heir:focus .test {
  padding: 100px;
  margin: 20px;
}
.dropping-styles-test.dropped {
  /* should only contain color:yellow */
  color: yellow;
}
.dropping-styles-test.dropped2 {
  /* should contain color:yellow, custom :hover, :active */
  color: yellow;
}
.dropping-styles-test.dropped2.hover, .dropping-styles-test.dropped2:hover, .dropping-styles-test.dropped2.focus, .dropping-styles-test.dropped2:focus {
  color: blue;
}
.dropping-styles-test.dropped2.active, .dropping-styles-test.dropped2:active {
  color: green;
  width: 100%;
}
.dropping-styles-test.dropped3 {
  /* should only contain color:purple */
  display: block;
  color: purple;
  background: green;
}
