.test {
  /* [archetype:styleguide:begin] --- `function-calls-component` --- */
  color: black;
  height: 100px;
  lang: en_US;
  /* [archetype:styleguide:end] --- `function-calls-component` --- */
}
.test.red {
  /* [archetype:styleguide:begin] --- `function-calls-component` --- */
  color: red;
  height: 100px;
  lang: en_US;
  /* [archetype:styleguide:end] --- `function-calls-component` --- */
}
.test.green {
  /* [archetype:styleguide:begin] --- `function-calls-component` --- */
  color: green;
  height: 100px;
  lang: en_US;
  /* [archetype:styleguide:end] --- `function-calls-component` --- */
}
.test.de_DE {
  /* [archetype:styleguide:begin] --- `function-calls-component` --- */
  color: green;
  height: 100px;
  lang: de_DE;
  /* [archetype:styleguide:end] --- `function-calls-component` --- */
}
