.nested-styleguide-test {
  text-decoration: none;
  display: block;
  color: red;
  background: green;
}
.nested-styleguide-test.hover, .nested-styleguide-test:hover, .nested-styleguide-test.focus, .nested-styleguide-test:focus {
  text-decoration: none;
  color: #0088cc;
  background: #eeeeee;
}
.nested-styleguide-test h3 {
  font-size: 18px;
  font-weight: bold;
  line-height: 22px;
  color: #0088cc;
  text-decoration: none;
}
.nested-styleguide-test h3.hover, .nested-styleguide-test h3:hover, .nested-styleguide-test h3.focus, .nested-styleguide-test h3:focus {
  text-decoration: none;
}
.nested-styleguide-test:after {
  color: red;
}
