.simple-button.disabled {
  font-weight: bold;
  border-width: 1px;
  border-style: solid;
  cursor: default;
  margin: 0;
  overflow: visible;
  text-decoration: none !important;
  width: auto;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  padding: 0 10px;
  height: 26px;
  line-height: 24px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 12px;
  color: white;
  background-color: #0055cc;
  border-color: #1b5480;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF0066CC', endColorstr='#FF0033CC');
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #0066cc), color-stop(100%, #0033cc));
  background-image: -webkit-linear-gradient(top, #0066cc, #0033cc);
  background-image: -moz-linear-gradient(top, #0066cc, #0033cc);
  background-image: -o-linear-gradient(top, #0066cc, #0033cc);
  background-image: linear-gradient(top, #0066cc, #0033cc);
  white-space: nowrap;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  vertical-align: middle;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6;
}
.simple-button.my-custom-hover {
  font-weight: bold;
  border-width: 1px;
  border-style: solid;
  cursor: pointer;
  margin: 0;
  overflow: visible;
  text-decoration: none !important;
  width: auto;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  padding: 0 10px;
  height: 26px;
  line-height: 24px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 12px;
  color: white;
  background-color: #0055cc;
  border-color: #1b5480;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF0066CC', endColorstr='#FF0033CC');
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #0066cc), color-stop(100%, #0033cc));
  background-image: -webkit-linear-gradient(top, #0066cc, #0033cc);
  background-image: -moz-linear-gradient(top, #0066cc, #0033cc);
  background-image: -o-linear-gradient(top, #0066cc, #0033cc);
  background-image: linear-gradient(top, #0066cc, #0033cc);
  white-space: nowrap;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  vertical-align: middle;
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.15);
}
.simple-button.normal {
  font-weight: bold;
  border-width: 1px;
  border-style: solid;
  cursor: pointer;
  margin: 0;
  overflow: visible;
  text-decoration: none !important;
  width: auto;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  padding: 0 10px;
  height: 26px;
  line-height: 24px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 12px;
  color: white;
  background-color: #0074cc;
  border-color: #1b5480;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF0088CC', endColorstr='#FF0055CC');
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #0088cc), color-stop(100%, #0055cc));
  background-image: -webkit-linear-gradient(top, #0088cc, #0055cc);
  background-image: -moz-linear-gradient(top, #0088cc, #0055cc);
  background-image: -o-linear-gradient(top, #0088cc, #0055cc);
  background-image: linear-gradient(top, #0088cc, #0055cc);
  white-space: nowrap;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  vertical-align: middle;
}
.simple-button.normal.hover, .simple-button.normal:hover, .simple-button.normal.focus, .simple-button.normal:focus {
  background-color: #0055cc;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF0066CC', endColorstr='#FF0033CC');
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #0066cc), color-stop(100%, #0033cc));
  background-image: -webkit-linear-gradient(top, #0066cc, #0033cc);
  background-image: -moz-linear-gradient(top, #0066cc, #0033cc);
  background-image: -o-linear-gradient(top, #0066cc, #0033cc);
  background-image: linear-gradient(top, #0066cc, #0033cc);
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.15);
}
.simple-button.normal.active, .simple-button.normal:active {
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25) inset;
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25) inset;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25) inset;
}
.simple-button.normal.disabled, .simple-button.normal[disabled] {
  background-color: #0055cc;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF0066CC', endColorstr='#FF0033CC');
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #0066cc), color-stop(100%, #0033cc));
  background-image: -webkit-linear-gradient(top, #0066cc, #0033cc);
  background-image: -moz-linear-gradient(top, #0066cc, #0033cc);
  background-image: -o-linear-gradient(top, #0066cc, #0033cc);
  background-image: linear-gradient(top, #0066cc, #0033cc);
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  cursor: default;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6;
}

.anchor.missing {
  color: #0088cc;
  text-decoration: none;
}
.anchor.my-custom-hover {
  color: #0088cc;
  text-decoration: underline;
}
