.button {
  /* [archetype:styleguide:begin] --- `button` --- */
  font-weight: bold;
  border-width: 1px;
  border-style: solid;
  cursor: pointer;
  margin: 0;
  overflow: visible;
  text-decoration: none !important;
  text-align: center;
  width: auto;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  padding: 0 13px;
  height: 31px;
  line-height: 29px;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 13px;
  color: white;
  background-color: #0074cc;
  border-color: #1b5480;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF0088CC', endColorstr='#FF0055CC');
  background-image: -moz-linear-gradient(top, #0088cc, #0055cc);
  background-image: -o-linear-gradient(top, #0088cc, #0055cc);
  background-image: -webkit-linear-gradient(top, #0088cc, #0055cc);
  background-image: linear-gradient(to bottom, #0088cc, #0055cc);
  white-space: nowrap;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: middle;
  *zoom: 1;
  *display: inline;
  /* [archetype:styleguide:end] --- `button` --- */
}
.button.hover, .button:hover, .button.focus, .button:focus {
  background-color: #0055cc;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF0066CC', endColorstr='#FF0033CC');
  background-image: -moz-linear-gradient(top, #0066cc, #0033cc);
  background-image: -o-linear-gradient(top, #0066cc, #0033cc);
  background-image: -webkit-linear-gradient(top, #0066cc, #0033cc);
  background-image: linear-gradient(to bottom, #0066cc, #0033cc);
  -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.15);
  -ms-box-shadow: 0 0 8px rgba(0, 0, 0, 0.15);
  -o-box-shadow: 0 0 8px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.15);
}
.button.active, .button:active {
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25) inset;
  -ms-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25) inset;
  -o-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25) inset;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25) inset;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25) inset;
}
.button.disabled, .button[disabled] {
  background-color: #0055cc;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF0066CC', endColorstr='#FF0033CC');
  background-image: -moz-linear-gradient(top, #0066cc, #0033cc);
  background-image: -o-linear-gradient(top, #0066cc, #0033cc);
  background-image: -webkit-linear-gradient(top, #0066cc, #0033cc);
  background-image: linear-gradient(to bottom, #0066cc, #0033cc);
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  -o-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  cursor: default;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6;
}
.button.primary {
  /* [archetype:styleguide-diff:begin] --- `button` vs `primary button` --- */
  /* [archetype:styleguide-diff:end] --- `button` vs `primary button` --- */
}
.button.secondary {
  /* [archetype:styleguide-diff:begin] --- `button` vs `secondary button` --- */
  text-shadow: 0 -1px 0 rgba(255, 255, 255, 0.25);
  color: #333333;
  background-color: whitesmoke;
  border-color: #aaaaaa;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFFFFFFF', endColorstr='#FFE6E6E6');
  background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
  /* [archetype:styleguide-diff:end] --- `button` vs `secondary button` --- */
}
.button.secondary.hover, .button.secondary:hover, .button.secondary.focus, .button.secondary:focus {
  background-color: #e6e6e6;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFF5F5F5', endColorstr='#FFE4E4E4');
  background-image: -moz-linear-gradient(top, #f5f5f5, #e4e4e4);
  background-image: -o-linear-gradient(top, #f5f5f5, #e4e4e4);
  background-image: -webkit-linear-gradient(top, #f5f5f5, #e4e4e4);
  background-image: linear-gradient(to bottom, #f5f5f5, #e4e4e4);
}
.button.secondary.disabled, .button.secondary[disabled] {
  background-color: #e6e6e6;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFF5F5F5', endColorstr='#FFE4E4E4');
  background-image: -moz-linear-gradient(top, #f5f5f5, #e4e4e4);
  background-image: -o-linear-gradient(top, #f5f5f5, #e4e4e4);
  background-image: -webkit-linear-gradient(top, #f5f5f5, #e4e4e4);
  background-image: linear-gradient(to bottom, #f5f5f5, #e4e4e4);
}
.button.spotlight {
  /* [archetype:styleguide-diff:begin] --- `button` vs `spotlight button` --- */
  text-shadow: 0 -1px 0 rgba(255, 255, 255, 0.25);
  background-color: #414141;
  border-color: #111111;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF555555', endColorstr='#FF222222');
  background-image: -moz-linear-gradient(top, #555555, #222222);
  background-image: -o-linear-gradient(top, #555555, #222222);
  background-image: -webkit-linear-gradient(top, #555555, #222222);
  background-image: linear-gradient(to bottom, #555555, #222222);
  /* [archetype:styleguide-diff:end] --- `button` vs `spotlight button` --- */
}
.button.spotlight.hover, .button.spotlight:hover, .button.spotlight.focus, .button.spotlight:focus {
  background-color: #343434;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF444444', endColorstr='#FF111111');
  background-image: -moz-linear-gradient(top, #444444, #111111);
  background-image: -o-linear-gradient(top, #444444, #111111);
  background-image: -webkit-linear-gradient(top, #444444, #111111);
  background-image: linear-gradient(to bottom, #444444, #111111);
}
.button.spotlight.disabled, .button.spotlight[disabled] {
  background-color: #343434;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF444444', endColorstr='#FF111111');
  background-image: -moz-linear-gradient(top, #444444, #111111);
  background-image: -o-linear-gradient(top, #444444, #111111);
  background-image: -webkit-linear-gradient(top, #444444, #111111);
  background-image: linear-gradient(to bottom, #444444, #111111);
}
.button.state-hover {
  /* [archetype:styleguide:begin] --- `button (state: hover)` --- */
  font-weight: bold;
  border-width: 1px;
  border-style: solid;
  cursor: pointer;
  margin: 0;
  overflow: visible;
  text-decoration: none !important;
  text-align: center;
  width: auto;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  padding: 0 13px;
  height: 31px;
  line-height: 29px;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 13px;
  color: white;
  background-color: #0055cc;
  border-color: #1b5480;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF0066CC', endColorstr='#FF0033CC');
  background-image: -moz-linear-gradient(top, #0066cc, #0033cc);
  background-image: -o-linear-gradient(top, #0066cc, #0033cc);
  background-image: -webkit-linear-gradient(top, #0066cc, #0033cc);
  background-image: linear-gradient(to bottom, #0066cc, #0033cc);
  white-space: nowrap;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: middle;
  *zoom: 1;
  *display: inline;
  -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.15);
  -ms-box-shadow: 0 0 8px rgba(0, 0, 0, 0.15);
  -o-box-shadow: 0 0 8px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.15);
  /* [archetype:styleguide:end] --- `button (state: hover)` --- */
}
.button.state-hover.secondary {
  /* [archetype:styleguide-diff:begin] --- `button (state: hover)` vs `secondary button (state: hover)` --- */
  text-shadow: 0 -1px 0 rgba(255, 255, 255, 0.25);
  color: #333333;
  background-color: #e6e6e6;
  border-color: #aaaaaa;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFF5F5F5', endColorstr='#FFE4E4E4');
  background-image: -moz-linear-gradient(top, #f5f5f5, #e4e4e4);
  background-image: -o-linear-gradient(top, #f5f5f5, #e4e4e4);
  background-image: -webkit-linear-gradient(top, #f5f5f5, #e4e4e4);
  background-image: linear-gradient(to bottom, #f5f5f5, #e4e4e4);
  /* [archetype:styleguide-diff:end] --- `button (state: hover)` vs `secondary button (state: hover)` --- */
}

.text {
  /* [archetype:styleguide:begin] --- `copy` --- */
  font-size: 13px;
  line-height: 17px;
  color: #222222;
  font-weight: normal;
  /* [archetype:styleguide:end] --- `copy` --- */
}
.text.muted {
  /* [archetype:styleguide-diff:begin] --- `copy` vs `muted copy` --- */
  color: #555555;
  /* [archetype:styleguide-diff:end] --- `copy` vs `muted copy` --- */
}

h1 {
  /* [archetype:styleguide:begin] --- `large headline` --- */
  font-size: 18px;
  font-weight: bold;
  line-height: 22px;
  color: black;
  /* [archetype:styleguide:end] --- `large headline` --- */
}
h1 {
  /* [archetype:target-os:begin] --- default --- */
  /* [archetype:target-os:end]   --- default --- */
}
h1 .note {
  /* [archetype:styleguide-diff:begin] --- `large headline` vs `small muted copy` --- */
  font-family: inherit;
  font-size: 12px;
  font-weight: normal;
  line-height: 14px;
  color: #555555;
  /* [archetype:styleguide-diff:end] --- `large headline` vs `small muted copy` --- */
}
