{% capture markup %}{% include config %}<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js ie ie6 lte9 lte8 lte7" lang="{{ site.lang }}"><![endif]-->
<!--[if IE 7]><html class="no-js ie ie7 lte9 lte8 lte7" lang="{{ site.lang }}"><![endif]-->
<!--[if IE 8]><html class="no-js ie ie8 lte9 lte8" lang="{{ site.lang }}"><![endif]-->
<!--[if IE 9]><html class="no-js ie ie9 lte9" lang="{{ site.lang }}"><![endif]-->
<!--[if gt IE 9]><!--><html class="no-js" lang="{{ site.lang }}"><!--<![endif]-->
<head>
{% include partials/head %}
{% include partials/scripts/jquery %}
</head>
{% capture page_classes %}{% if page.type %}layout-{{ page.type }}{% endif %}{% if page.sidebar or (page.type == 'post' and page.sidebar != false) %} has-aside{% endif %}{% if page.classname %} {{ page.classname }}{% endif %}{% endcapture %}
{% capture page_id %}{% if page.key %}page-{{ page.key }}{% elsif page.id %}{{ page.id }}{% else %}homepage{% endif %}{% endcapture %}
<body class="{{ page_classes }}" id="{{ page_id | replace : '/' , '__' }}">
{% include partials/scripts/classnames %}
<header id="global-header">
  <div>
    <a class="brand" href="{{ HOME_PATH }}">{{ site.title }}</a>
    <nav>
      <ul>
        {% assign pages_list = site.pages %}
        {% assign group = 'navigation' %}
        {% include partials/lists/weighted_pages_list %}
        {% if GIT_PATH %}<li><a href="{{ GIT_PATH }}/issues">Discussion</a></li>{% endif %}
      </ul>
    </nav>
  </div>
</header>
<div id="main">
{{ content }}
</div>
<footer id="global-footer">
  <div>
    <p class="copyright">
      {{ site.copyright.holder }} &copy; {{ site.copyright.year }}
    </p>
    {% unless site.footer.links == false %}
      <ul>
      {% for link in site.footer.links %}
        <li><a href="{% if GIT_PATH %}{{ link.url | replace : 'GIT_PATH', GIT_PATH }}{% else %}{{ link.url }}{% endif %}">{{ link.title }}</a></li>
      {% endfor %}
      {% assign pages_list = site.pages %}
      {% assign group = 'secondary-navigation' %}
      {% include partials/lists/weighted_pages_list %}
      </ul>
    {% endunless %}
    <p class="social-actions">
      {% if site.git %}
      <iframe width="112px" scrolling="0" height="20px" frameborder="0" allowtransparency="true" src="http://ghbtns.com/github-btn.html?user={{ site.git.account }}&amp;repo={{ site.git.repo }}&amp;type=watch&amp;count=true"></iframe>
      <iframe width="98px" scrolling="0" height="20px" frameborder="0" allowtransparency="true" src="http://ghbtns.com/github-btn.html?user={{ site.git.account }}&amp;repo={{ site.git.repo }}&amp;type=fork&amp;count=true"></iframe>
      {% endif %}
    </p>
  </div>
</footer>
{% include partials/scripts/foot %}
</body>
</html>{% endcapture %}{%include post_process %}