---
layout: default
type  : post
---
{% include config %}
<article>
  {% include partials/headline %}
  {{ content }}
  {% include partials/lists/pagination %}
  {% include partials/comments %}
</article>
  
<aside>
  <h4>Published</h4>
  <div class="date"><span>{{ page.date | date_to_long_string }}</span></div>
  {% unless page.tags == empty %}
    <h4>Tags</h4>
    <ul class="tag_box">
      {% assign tags_list = page.tags %}
      {% include partials/lists/tags_list %}
    </ul>
  {% endunless %}
</aside>
