// ==========
// BRISTOL
// ==========
$STYLEGUIDE_BRISTOLS_ID: bristol !default;
$STYLEGUIDE_BRISTOLS: () !default;

@if should-register-component($STYLEGUIDE_BRISTOLS_ID) {
$a-blackhole: styleguide-add-component($STYLEGUIDE_BRISTOLS_ID, $STYLEGUIDE_BRISTOLS, (
  (default, (
    background  nth($CONFIG_TEXTURE_BRISTOL, 1),
    nil
  )),
  nil
)) !global;
}
