// ==========
// BUTTON GROUPS
// ==========
$STYLEGUIDE_BUTTON_GROUPS_ID: button-group !default;
$STYLEGUIDE_BUTTON_GROUPS: () !default;

@if not styleguide-component-exists($STYLEGUIDE_BUTTON_GROUPS_ID, $CONFIG_THEME) {
$a-blackhole: styleguide-add-component($STYLEGUIDE_BUTTON_GROUPS_ID, $STYLEGUIDE_BUTTON_GROUPS, (
  (default, (
    line-height         1,
    inline-block        true, // this will use the inline-block() mixin
    vertical-align      middle,
    clearfix            legacy-pie-clearfix,
    position            relative,
    nil
  )),
  // BUTTON TOOLBARS
  (in-button-toolbar, (
    margin-right            $CONFIG_DIM_BUTTON_SPACING_OUTER,
    float                   left,
    display                 block,
    inline-block            nil
  )),
  (small in-button-toolbar, (
    margin-right            $CONFIG_DIM_BUTTON_SPACING_OUTER_NARROW,
    nil
  )),
  (last in-button-toolbar, (
    margin-right            nil,
    nil
  )),
  (right aligned in-button-toolbar, (
    float                   right,
    margin-right            nil,
    margin-left             $CONFIG_DIM_BUTTON_SPACING_OUTER
  )),
  (right aligned small in-button-toolbar, (
    margin-left             $CONFIG_DIM_BUTTON_SPACING_OUTER_NARROW,
    nil
  )),
  (right aligned last in-button-toolbar, (
    margin-left             nil,
    nil
  )),
  nil
), $CONFIG_THEME);
}
