// ==========
// CANVAS
// ==========
$STYLEGUIDE_CANVAS_ID: canvas !default;
$STYLEGUIDE_CANVAS: () !default;

@if not styleguide-component-exists($STYLEGUIDE_CANVAS_ID, $CONFIG_THEME) {
$a-blackhole: styleguide-add-component($STYLEGUIDE_CANVAS_ID,  $STYLEGUIDE_CANVAS, (
  (default, (
    background  nth($CONFIG_TEXTURE_CANVAS, 1),
    nil
  )),
  nil
), $CONFIG_THEME);
}
