// ==========
// HEADINGS
// ==========
$STYLEGUIDE_HEADINGS_ID: heading !default;
$STYLEGUIDE_HEADINGS: () !default;

@if should-register-component($STYLEGUIDE_HEADINGS_ID) {
$a-blackhole: styleguide-add-component($STYLEGUIDE_HEADINGS_ID, $STYLEGUIDE_HEADINGS, (
  default: null,
  in $STYLEGUIDE_FLYOUTS_ID in $STYLEGUIDE_BUTTON_GROUPS_ID: (
    margin:                 $CONFIG_DIM_HEADING_SPACING_OUTER,
    padding:                $CONFIG_DIM_HEADING_SPACING,
    background-color:       $CONFIG_TEXTURE_HEADING,
    border:                 $CONFIG_DIM_GENERIC_BORDER solid nth($CONFIG_COLOR_BORDER_SECTION,1),
    border-width:           $CONFIG_DIM_GENERIC_BORDER 0,
    color:                  nth($CONFIG_COLOR_COPY_MUTED, 1)
  ),
  first in $STYLEGUIDE_FLYOUTS_ID in $STYLEGUIDE_BUTTON_GROUPS_ID: (
    margin-top:             0,
    border-top-width:       0
  ),
  in $STYLEGUIDE_FLYOUTS_ID in $STYLEGUIDE_BUTTONS_ID: (
    inherit:                in $STYLEGUIDE_FLYOUTS_ID in $STYLEGUIDE_BUTTON_GROUPS_ID
  ),
  first in $STYLEGUIDE_FLYOUTS_ID in $STYLEGUIDE_BUTTONS_ID: (
    inherit:                first in $STYLEGUIDE_FLYOUTS_ID in $STYLEGUIDE_BUTTON_GROUPS_ID
  )
)) !global;
}
