// ==========
// ICONS
// ==========
$STYLEGUIDE_ICONS_ID: icon !default;
$STYLEGUIDE_ICONS: () !default;

@if should-register-component($STYLEGUIDE_ICONS_ID) {
$a-blackhole: styleguide-add-component($STYLEGUIDE_ICONS_ID,  $STYLEGUIDE_ICONS, (
  (default, (
    inline-block        middle,
    hide-text           true,
    content             $CONTENT_PLACEHOLDER,
    background          (none no-repeat scroll 0 0 transparent)
  )),
  nil
));
}
