// ==========
// PUNCHCUT
// ==========
$STYLEGUIDE_PUNCHCUTS_ID: punchcut !default;
$STYLEGUIDE_PUNCHCUTS: () !default;

@if should-register-component($STYLEGUIDE_PUNCHCUTS_ID) {
$a-blackhole: styleguide-add-component($STYLEGUIDE_PUNCHCUTS_ID, $STYLEGUIDE_PUNCHCUTS, (
  default: (
    background:       nth($CONFIG_TEXTURE_PUNCHCUT, 1),
    box-shadow:       $CONFIG_SHADOW_PUNCHCUT_INSET
  ),
  without inner-shadow: (
    box-shadow:       null
  )
)) !global;
}
