// ==========
// ANIMATIONS
// ==========

// loaders
$CONFIG_ANIM_LOADERS_MEDIUM_STEP:         12 !default;
$CONFIG_ANIM_LOADERS_MEDIUM_DELAY:        0s !default;
$CONFIG_ANIM_LOADERS_MEDIUM_ITERATIONS:   infinite !default;
$CONFIG_ANIM_LOADERS_MEDIUM_DURATION:     1s !default;
$CONFIG_ANIM_LOADERS_LARGE_STEP:          $CONFIG_ANIM_LOADERS_MEDIUM_STEP !default;
$CONFIG_ANIM_LOADERS_LARGE_DELAY:         $CONFIG_ANIM_LOADERS_MEDIUM_DELAY !default;
$CONFIG_ANIM_LOADERS_LARGE_ITERATIONS:    $CONFIG_ANIM_LOADERS_MEDIUM_ITERATIONS !default;
$CONFIG_ANIM_LOADERS_LARGE_DURATION:      $CONFIG_ANIM_LOADERS_MEDIUM_DURATION !default;
$CONFIG_ANIM_LOADERS_SMALL_STEP:          $CONFIG_ANIM_LOADERS_MEDIUM_STEP !default;
$CONFIG_ANIM_LOADERS_SMALL_DELAY:         $CONFIG_ANIM_LOADERS_MEDIUM_DELAY !default;
$CONFIG_ANIM_LOADERS_SMALL_ITERATIONS:    $CONFIG_ANIM_LOADERS_MEDIUM_ITERATIONS !default;
$CONFIG_ANIM_LOADERS_SMALL_DURATION:      $CONFIG_ANIM_LOADERS_MEDIUM_DURATION !default;
