// ==========
// MISC PRIMITIVES
// ==========

$CONFIG_OPACITY_LOADER:                         0.7 !default;
$CONFIG_OPACITY_BUTTON_DISABLED:                0.6 !default;
$CONFIG_DECORATION_LINK:                        (none underline) !default;
$CONFIG_DECORATION_IDENTITY:                    (none underline) !default;
