// ==========
// TEXTURES
// ==========

$CONFIG_TEXTURE_HEADING:          (#FEFEFE) !default;
$CONFIG_TEXTURE_MODULE:           (#EEEEEE) !default;
$CONFIG_TEXTURE_CONTAINER:        (#FFFFFF #000000) !default;
$CONFIG_TEXTURE_BRISTOL:          (#2C2C2C) !default;
$CONFIG_TEXTURE_CANVAS:           (#CCCCCC) !default;
$CONFIG_TEXTURE_PUNCHCUT:         (#333333) !default;
