// component identifiers
$STYLEGUIDE_ALERTS_ID:          alert !default;
$STYLEGUIDE_ANNOTATIONS_ID:     annotation !default;
$STYLEGUIDE_BRISTOLS_ID:        bristol !default;
$STYLEGUIDE_BUTTON_GROUPS_ID:   button-group !default;
$STYLEGUIDE_BUTTON_TOOLBARS_ID: button-toolbar !default;
$STYLEGUIDE_BUTTONS_ID:         button !default;
$STYLEGUIDE_CANVAS_ID:          canvas !default;
$STYLEGUIDE_CARETS_ID:          caret !default;
$STYLEGUIDE_CLOSES_ID:          close !default;
$STYLEGUIDE_CONTAINERS_ID:      container !default;
$STYLEGUIDE_COPY_ID:            copy !default;
$STYLEGUIDE_FLYOUTS_ID:         flyout !default;
$STYLEGUIDE_HEADINGS_ID:        heading !default;
$STYLEGUIDE_HEADLINES_ID:       headline !default;
$STYLEGUIDE_HOVERCARDS_ID:      hovercard !default;
$STYLEGUIDE_ICONS_ID:           icon !default;
$STYLEGUIDE_IDENTITY_ID:        identity !default;
$STYLEGUIDE_LINKS_ID:           link !default;
$STYLEGUIDE_LOADERS_ID:         loader !default;
$STYLEGUIDE_MENU_ITEMS_ID:      menu-item !default;
$STYLEGUIDE_MODULES_ID:         module !default;
$STYLEGUIDE_PULLQUOTES_ID:      pullquote !default;
$STYLEGUIDE_PUNCHCUTS_ID:       punchcut !default;
$STYLEGUIDE_TOOLTIPS_ID:        tooltip !default;
